<header id="header">
  <h1 class="title">
    <%= title %>
  </h1>
  <ul class="nav">
    <li><a href="/">Home</a></li>
    <li><a href="/create-series">Creat-Series</a></li>
    <li><a href="/view-series">View-Series</a></li>
  </ul>
</header>