<%- include('./layaouts/main', {title: "Series" }) %>

  <div id="app">
    <!-- header -->
    <%- include('./layaouts/header', { title: "Home" }) %>

      <main id="main">
        <h4 class="text-center">On thus page, you`ll can save a serie</h4>
      </main>
  </div>

  <%- include('./layaouts/endMain') %>