* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* container app */
#app {
  max-width: 1200px;
  min-width: 990px;
  width: 990px;
  margin: 0 auto;
}

/* title app */
#header .title {
  text-align: center;
  padding: 1rem 0;
}

/* nav */
.nav {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}
.nav li a {
  text-decoration: none;
  padding: 0 5px;
}

/* styles form */
#form {
  background: #ddd;
  width: 400px;
  max-width: 400px;
  border-radius: 10px;
  padding: 10px;
  margin: 0 auto;
}

#form div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* elements form */
input,
textarea,
button {
  width: 100%;
  max-width: 100%;
  padding: 10px 5px;
  margin: 5px 0;
  border: none;
  outline: none;
  background-color: #fff;
}

/* styles textarea (description) */
#form textarea {
  max-width: 100%;
  min-width: 100%;
  max-height: 200px;
  min-height: 200px;
}

/* detail series */
.detail {
  width: 300px;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    "title"
    "image"
    "description";
}
.detail__title {
  text-align: center;
  grid-area: title;
}
.detail__img {
  min-width: 300px;
  grid-area: image;
}
.detail__img img {
  display: block;
  margin: 0 auto;
}
.detail__description {
  grid-area: description;
  padding: 10px;
  margin-top: 5px;
  height: 200px;
  overflow-y: auto;
}
.detail__description p {
  text-align: justify;
}

/* button styles ()send */
#form button {
  cursor: pointer;
}
#form button:hover {
  background-color: #ddd;
}

/*  -------------- clases */
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.padding-x {
  padding: 0 2rem;
}
.padding-y {
  padding: 2rem 0;
}
.margin-x {
  margin: 0 2rem;
}
.margin-y {
  margin: 2rem 0;
}
.padding-bottom {
  padding-bottom: 2rem;
}

.cursor-pointer {
  cursor: pointer;
}
